/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$color-primary: #fdc006;
$color-secondary: #437bff;
$color-extra: #00123d;
$color-extra-2: #e3f1fd;
$color-black: #1c1c1c;
$color-font-header: #1c1c1c;
$color-font-black: #1c1c1c;
$color-white: #fff;
$color-medium-grey: #f4f5f7;
$color-light-grey: #f4f5f7;

$font-primary: "Helvetica Neue", helvetica, arial, sans-serif;
$font-primary-extra-light: 200;
$font-primary-light: 300;
$font-primary-regular: 400;
$font-primary-medium: 500;
$font-primary-semibold: 600;
$font-primary-bold: 700;
$font-secondary: "Proxima Nova", sans-serif;
$font-secondary-extra-light: 200;
$font-secondary-light: 300;
$font-secondary-regular: 400;
$font-secondary-medium: 500;
$font-secondary-semibold: 600;
$font-secondary-bold: 700;

$transitions-primary: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
$shadow-depth-1: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-depth-2: 0 5px 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
$shadow-depth-3: 0 10px 20px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.1);
$shadow-depth-4: 0 10px 30px rgba(0, 0, 0, 0.1), 0 30px 60px rgba(0, 0, 0, 0.1);
$shadow-depth-5: 0 20px 40px rgba(0, 0, 0, 0.1), 0 40px 80px rgba(0, 0, 0, 0.1);

$shadow-depth-secondary-1: 0 2px 4px rgba(38, 24, 177, 0.1);
$shadow-depth-secondary-2: 0 5px 10px rgba(38, 24, 177, 0.1), 0 10px 20px rgba(38, 24, 177, 0.15);
$shadow-depth-secondary-3: 0 10px 20px rgba(38, 24, 177, 0.1), 0 20px 40px rgba(38, 24, 177, 0.15);
$shadow-depth-secondary-4: 0 10px 30px rgba(38, 24, 177, 0.1), 0 30px 60px rgba(38, 24, 177, 0.15);
$shadow-depth-secondary-5: 0 20px 40px rgba(38, 24, 177, 0.1), 0 40px 80px rgba(38, 24, 177, 0.15);

$responsive-large: 77.5em; /* (1240px) */
$responsive-medium: 60em; /* (960px) */
$responsive-small: 40em; /* (640px) */
